/*-------------------banner图片--------------------*/
.top_bnr {
    background-color: #f7f7f7;
    width: 960px;
    height: 420px;
    overflow: hidden;
    margin-left: 240px;
    position: relative;
}
.banner{
    height: 419px;
    /*overflow: hidden;*/
    /*width: 100%;*/
    width: 3000px;
    z-index: 0;
}
.banner li{
    float: left;
}
/*------------------轮播小按钮-----------------------*/
.top_bnr .bnr_btn{
    position: absolute;
    top: 380px;
    left: 440px;
}
.top_bnr .bnr_btn a{
    display: inline-block;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 22px;
    cursor: pointer;
}
.top_bnr .bnr_btn a.on{
    background: none;
    border: 3px solid #fff;
    height: 12px;
    width: 12px;
    margin-bottom: -4px;
}
/*-------------轮播左右按钮-----------*/
.bnr_btn_lr{
    display: none;
}
.bnr_btn_lr .bnr_btn_l{
    position: absolute;
    left: 0;
    top: 200px;
    width: 34px;
    height: 44px;
    background: url("../img/bg/bnr_btn_left1.png") no-repeat center;
    cursor: pointer;
}
.bnr_btn_lr .bnr_btn_r{
    position: absolute;
    right: 0;
    top: 200px;
    width: 34px;
    height: 44px;
    background: url("../img/bg/bnr_btn_right1.png") no-repeat center;
    cursor: pointer;
}
/*---------------------二级菜单------------------*/
.corner1{
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 48px;
   /* right: 20px;*/
    right: 0px;
    color: #666;
}
.corner2{
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 48px;
    /*right: 20px ;*/
    right: 0;
    color: #f69;
}
.top_wrap .menu_box {
    width: 240px;
    z-index: 10;
    height: 574px;
    position: absolute;
    left: 0;
    top: -420px;
}
.top_wrap .menu_box .sec_menu {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    height: 572px;
    width: 238px;
}
.top_wrap .top_box {
    position: relative;
    width: 100%;
}
/*二级 相对定位*/
.top_wrap .menu_box .sec_menu .list {
    position: relative;
    border-bottom: 1px dotted #ccc;
    margin-left: 20px;
    margin-right: 20px;

    /*z-index: 0;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    width: 238px;*/
}
.top_wrap .menu_box .sec_menu .list.active{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*border-right: none;*/
}
.top_wrap .menu_box .sec_menu .list_cont {
    position: relative;
    z-index: 8;
    padding: 12px 20px 6px;
}
.top_wrap .menu_box .sec_menu .list .nav_tit {
    height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.top_wrap .menu_box .sec_menu .list .nav_tit a {
    color: #f69;
    float: left;
    margin-right: 10px;
}
.top_wrap .menu_box .sec_menu .list p.listP {
    height: 72px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
    padding-top: 5px;
}
.top_wrap .menu_box .sec_menu .list p.listP a {
    float: left;
    margin-right: 14px;
}
.pink_a{
	color: #f69;
}
/*三级菜单*/
.top_wrap .thir_menu{
    width: 330px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 0 0 10px 20px;
    z-index: 4;
    position: absolute;
    top: -1px;
    right: -352px;
    display: none;
}
.top_wrap .thir_menu h4{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
}
.top_wrap .thir_menu p{
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.top_wrap .thir_menu p a{
    float: left;
    margin-right: 14px;
}
.menuBorder{
    height: 113px;
    width: 2px;
    background: #fff;
    float: right;
}
/*----banner底下5个图----*/
.top_wrap .bnr_box {
    height: 144px;
    width: 960px;
    position: absolute;
    right: 0;
    top: 9px;
    z-index: 1;
}
.top_wrap .bnr_box .pic_attr {
    float: left;
    overflow: hidden;
    height: 145px;
}
.top_wrap .bnr_box .pic_attr li {
    float: left;
    overflow: hidden;
    /*display: inline;*/
    width: 182px;
    margin-left: 10px;
}
/*--------------------------主体内容--------------------------*/
.auto_wrap {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    margin-top: 154px;
}
.module {
    margin-top: 40px;
    clear: both;
}
.module .tit h2{
	font-weight: 700;
    float: left;
    font-size: 20px;
    background-color: #fff;
}
.module .tit h2 .subtit {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    padding: 0 5px;
}
.module .tit .operate {
    background: url("../img/bg/bg_tri.png") no-repeat 101% -177px;
    padding: 18px 10px 0 0;
    color: #999;
    text-align: right;
    border-bottom: 1px solid #ededed;
}
.module .cont a {
    float: left;
}
.module .tit .operate a{
    float: right;
}
.fashion .tit .operate {
    background: 0;
}
.module .cont {
    margin-top: 20px;
    margin-left: -20px;
    overflow: hidden;
}
.fashion .cont a {
    margin-left: 20px;
    width: 183px;
}
.module .cont a img{
    width: 100%;
    height: 100%;
}

/*新品精选*/
.fashion_new .item,.guess_like .item{
    margin-left: 20px;
    padding-bottom: 30px;
    width: 224px;
    float: left;
}
.fashion_new .item .pic,.guess_like .item .pic,.item .desc .tit{
    overflow: hidden;
}
.fashion_new .item .pic:hover,.guess_like .item .pic:hover{
	box-shadow: 0px -2px 10px #f69;
}
.price_like{
    overflow: hidden;
}
.fashion_new .item .desc,.beauty .item .desc, .guess_like .item .desc{
    line-height: 20px;
    padding-top: 15px;
}
.fashion_new .item .desc .price,.guess_like .item .desc .price{
    color: #f69;
    font-size: 18px;
}
.fashion_new .item .desc .like,.guess_like .item .desc .like{
    padding-left: 20px;
    background: url("../img/bg/bg_tri.png") no-repeat 0 -23px;
    color: #999;
    float: right;
}
/*时尚美妆*/
.beauty .item{
    margin-left: 20px;
    padding-bottom: 30px;
    width: 386px;
    float: left;
}
.beauty .item a{
    height: 386px;
}
.beauty .item a img{
    width: 100%;
    height: 100%;
}
.beauty .item .desc .tit{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.beauty .item .desc .subtit{
    line-height: 24px;
    height: 50px;
    overflow: hidden;
}
.beauty .item .desc .tag{
    background: url("../img/bg/bg_tri.png") no-repeat 0 1px;
    padding-left: 40px;
}
.beauty .item .desc .tag a{
    margin-right: 5px;
    height: 22px;
    line-height: 22px;
    color: #f69;
}
.item .desc .ori_price{
	padding-left: 25px;
	text-decoration: line-through;
	color: #999;
}
/*Hi范儿*/
.hifan .tab{
	width: 320px;
	text-align: center;
	margin: 0 auto;
}
.recommend_shop .cont .tab div, .hifan .cont .tab li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 16px;
    margin: 20px;
    margin-top: 0;
    cursor: pointer;
    float: left;
}
.recommend_shop .cont .tab .active, .hifan .cont .tab .active {
    color: #f69;
    border-bottom: 2px solid #f69;
}
.recommend_shop .cont .tab-inner .item, .hifan .cont .tab-inner .item {
    position: relative;
    margin-left: 20px;
    width: 386px;
    float: left;
}
.recommend_shop .cont .tab-inner .tab-item, .hifan .cont .tab-inner .tab-item {
	display: none;
}
.recommend_shop .cont .tab-inner .active, .hifan .cont .tab-inner .active {
    display: block;
}
.hifan .cont .tab-inner .item img {
    width: 386px;
    height: 230px;
}
/*推荐店铺*/
.recommend_shop .cont .tab-inner .item img {
    width: 386px;
    height: 333px;
}
.recommend_shop .cont .tab-inner .item .mask {
    display: none;
}
.recommend_shop .cont .tab-inner .item .mask .bg {
    font-size: 14px;
    position: absolute;
    top: 0;
    background-color: #333;
    opacity: .5;
    filter: alpha(opacity=50);
    width: 386px;
    height: 333px;
}
.recommend_shop .cont .tab-inner .item .mask .add, .recommend_shop .cont .tab-inner .item .mask .go, .recommend_shop .cont .tab-inner .item .mask .unadd {
    position: absolute;
    width: 120px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #fff;
    color: #fff;
    left: 132px;
    top: 110px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.recommend_shop .cont .tab-inner .item .mask .go {
    top: 180px;
}
.recommend_shop .cont .tab-inner .item .mask .go a{
	display: block;
	width: inherit;
    color: #fff;
}
.recommend_shop .cont .tab-inner .item .mask .unadd:hover,.recommend_shop .cont .tab-inner .item .mask .go a:hover {
    background: #fff;
    color: #666;
}
.recommend_shop .cont .tab-inner .item .desc {
    padding-top: 15px;
    text-align: center;
    line-height: 25px;
}
.recommend_shop .cont .tab-inner .item .desc .tit {
    font-size: 22px;
    color: #333;
    height: 25px;
    overflow: hidden;
}
.recommend_shop .cont .tab-inner .item .desc a {
    float: none;
}
.recommend_shop .cont .tab-inner .item .desc .subtit {
    color: #999;
    height: 25px;
    overflow: hidden;
}
.recommend_shop .cont .tab-inner .item .desc i {
    font-style: normal;
    color: #f69;
    padding-right: 20px;
}
.recommend_shop .cont .tab-inner .item .desc .last {
    padding-right: 0;
}
.recommend_shop .cont .tab{
	width: 520px;
	margin: 0 auto;
}
/*猜你喜欢*/
.guess_like {
    margin-top: 20px;
}
.guess_like .tit {
    overflow: hidden;
}
.guess_like .tit .operate {
    background-position: 1178px -202px;
    padding-right: 0;
    background: url("../img/bg/bg_tri.png") no-repeat 100% -200px;
}
.guess_like .tit a {
    width: 100%;
    cursor: pointer;
    padding-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.guess_like .item .pic a{
	height: 340px;
}
.guess_like .tit a {
    width: 100%;
    cursor: pointer;
    padding-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}